      is_portable = ${{ inputs.isPortable }}
      enable_file_transfer = ${{ inputs.enableFileTransfer }}
      enable_remote_restart = ${{ inputs.enableRemoteRestart }}
      enable_message_box = ${{ inputs.enableMessageBox }}
      enable_chat = ${{ inputs.enableChat }}
      enable_clipboard_sync = ${{ inputs.enableClipboardSync }}
      enable_power = ${{ inputs.enablePower }}
      enable_exclusive:contentReference[oaicite:0]{index=0}e }}
      enable_file_drop = ${{ inputs.enableFileDrop }}
      EOF

  - name: Report Status
    uses: fjogeleit/http-request-action@v1
    with:
      url: ${{ env.STATUS_URL }}
      method: 'POST'
      customHeaders: '{"Content-Type": "application/json"}'
      data: '{"uuid": "${{ inputs.uuid }}", "status": "50% complete"}'

  - name: Build Windows client
    shell: bash
    run: |
      cd ./installer/app
      flutter_distributor package --platform windows --targets exe --skip-clean --snapshot=false --release --changelog="" --flutter-build-args "--dart-define-from-file=env/app-env-${{ inputs.environment }}.json"

  - name: Report Status
    uses: fjogeleit/http-request-action@v1
    with:
      url: ${{ env.STATUS_URL }}
      method: 'POST'
      customHeaders: '{"Content-Type": "application/json"}'
      data: '{"uuid": "${{ inputs.uuid }}", "status": "80% complete"}'

  - name: Upload Windows client artifact
    uses: actions/upload-artifact@v4
    with:
      name: RustDesk-Windows-Client-${{ github.run_id }}
      path: installer/dist/*

  - name: Report Status
    uses: fjogeleit/http-request-action@v1
    with:
      url: ${{ env.STATUS_URL }}
      method: 'POST'
      customHeaders: '{"Content-Type": "application/json"}'
      data: '{"uuid": "${{ inputs.uuid }}", "status": "Generation complete"}'

  - name: failure
    if: failure()
    uses: fjogeleit/http-request-action@v1
    with:
      url: ${{ env.STATUS_URL }}
      method: 'POST'
      customHeaders: '{"Content-Type": "application/json"}'
      data: '{"uuid": "${{ inputs.uuid }}", "status": "Generation failed, try again"}'

  - name: cancelled
    if: cancelled()
    uses: fjogeleit/http-request-action@v1
    with:
      url: ${{ env.STATUS_URL }}
      method: 'POST'
      customHeaders: '{"Content-Type": "application/json"}'
      data: '{"uuid": "${{ inputs.uuid }}", "status": "Generation cancelled, try again"}'
